body{
	margin: 0;
	font-family: futura;
	line-height: 1.5;
	background-color: rgb(150,5,3); }

nav{ 
	background-image:url(/Users/kafonso/Desktop/Orrie/images/nave.jpg);
	color: white; 
	width: 100%;
	position: fixed;
	top: 0px;
	height: 53px; 
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);}

	.menu{
		float: right; }
	
		.menu a{
				padding-left: 5px;
				float: left;
				padding-right: 5px;
				padding-bottom: 14.5px;
				margin: 0px;
				padding-top: 14.5px;
				text-decoration: none;
				color: white;
				-webkit-transition:0.8s; }

			.menu a:hover{
				background-color: rgba(180, 20, 0, 0.48);
				-webkit-transition: 0.5s; 
				transform: scaleX(1.05);}

			.menu a:last-child{
				padding-right: 30px; }

	.logo{
		float: left;
		padding-left: 15px; 
		padding-right: 5px;}

		.Head{
		height: 35px;
		font-size: 30px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-top: 0px; }

		.subHead{
		font-size: 6px; 
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 1px;
		letter-spacing: 0.1px; }

	.titulo{
		color: white;
		padding-top: 110px;
		padding-left: 50px; 
		padding-bottom: 5px;}

		.titulo h2{
			letter-spacing: 5px;
			margin: 0px; 
			font-size: 40px;}
		
		.titulo p{
			margin: 0px; }

	.buttons{
		margin: 0px;
		padding-bottom: 5px;
		padding-top: 5px;
		padding-left: 50px;
		color: white; }

		.buttons a{
			margin-right: 2px;
			font-size: 18px;
			border-radius: 20px;
			padding-right: 135px;
			padding-left: 135px;
			padding-bottom: 5px;
			padding-top: 5px;
			background-color: white;
			text-decoration: none;
			color: black;
			-webkit-transition: 0.5s; }

			.buttons a:hover{
				padding-right: 137px;
				padding-left: 137px;
				color: rgb(150,5,3);
				-webkit-transition: 0.5s;}

	.content{
		padding-bottom: 50px;;
		display: flex;
		color: white; 
		align-items: center;}

		.imagem1{
			margin: 0px;
			padding-left: 50px;
			padding-top: 15px;
			padding-bottom: 15px; }

			.imagem1 img{
				border-radius: 20px; 
				width: 500px;
				height: 500px;
				-webkit-transition: 0.5s; }

				.imagem1 img:hover{
				transform: scaleX(1.03) scaleY(1.03);
				-webkit-transition: 0.5s;}

		.info{ 
		padding-left: 20px;
		width: 55%; }

			.info p{
				margin: 0px; }

			.info .t{
				font-size: 20px;
				font-weight: bold;}

			hr{ border: 0px;
			width: 100%;
			height:3px; 
			background-color: white;}

footer{
	background-color: darkred;
	text-align: center;
	color: white; 
	padding: 40px 0;}

	footer ul{
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;

	}

	footer li{
		display: inline-block;
	}

	footer .roda li a{
		padding-bottom: 0%;
		padding-right: 20px;;
		color: white;
		text-decoration: none;
		list-style-type: none;}

		footer .roda li a:hover{
			color:grey;
			-webkit-transition: 0.5s; }

	footer .copyright{
		margin-top: 10px;
		text-align: center;
		font-size: 13px;
		color: #aaa;
		margin-bottom: 0; }

	footer .copyright p{
		margin-top: 0;
		margin-bottom: 1rem; }