
body{
	width: 100%;
	margin: 0;
	font-family: futura;
	line-height: 1.5;
	background-color: rgb(150,5,3);}

	nav{ 
		background-image:url(../images/nave.jpg);
		color: white; 
		width: 100%;
		position: fixed;
		top: 0px;
		height: 53px;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.1); }
	
		.menu{
			float: right; }
		
			.menu a{
					padding-left: 5px;
					float: left;
					padding-right: 5px;
					padding-bottom: 14.5px;
					margin: 0px;
					padding-top: 14.5px;
					text-decoration: none;
					color: white;
					transition:0.8s; }
	
					.menu a:hover{
					background-color: rgba(180, 20, 0, 0.48);
					transition: 0.5s; 
					transform: scaleX(1.05)}
	
					.menu a:last-child{
					padding-right: 30px; }
	
		.logo{
			cursor:pointer;
			float: left;
			padding-left: 15px; 
			padding-right: 5px;}
	
			.Head{
			height: 35px;
			font-size: 30px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-top: 0px; }
	
			.subHead{
			font-size: 6px; 
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 1px;
			letter-spacing: 0.1px; }
	
.conteiner{
	margin-top: 10%;}

.titulo{
	text-align: center;
	font-size: 25px;
	font-family: "futura";
	color: white ;}

.btns{
	text-align :center; }

	.botao{
		padding-left: 20px;
		padding-top: 8px;
		padding-bottom: 8px;
		margin:5px;
		width: 80%;
		text-align: left;
		font-size: 18px;
		border-radius: 20px;
		color:rgb(53, 49, 49);
		background-color: white;
		border:0px; }