body{
    background-image: url("/Users/kafonso/Desktop/Orrie/images/bg.png");
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-family: futura;
}

.conteiner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: white;
    width: 100%;}

    .titulo img{
        margin-top: 40px;
        margin-bottom: 0px;
        width: 15%; }

    .titulo h3{§§§§§§§§§§§
        margin-top: 5px;
        letter-spacing: 2px; }

.texto{
    font-size: 13px;
    padding: 5px 4px;
    text-justify: auto;
    text-justify: justify;
}

.caixa{
    font-family: Arial, Helvetica, sans-serif; 
    float: left;
    box-shadow: 1px 1px 5px #cccccc ;
    background-color: white;
    margin: 0px;
    margin-top: 13%;
    margin-right: 8%;
    margin-left: 10%;
    padding: 30px;
    padding-top: 0px;
    border-radius: 20px;
    width: 25%;}

    .caixa .titulo{
    text-align: center;
    color: black;}

.credenciais{
    margin-bottom: 10px; }

    .credenciais > label{
        font-size: 15px;
        padding-left: 5px;
        margin-top: 7px;
        margin-bottom: 5px;
        color: black;
        display: block; }

    .credenciais > input{
        border: 1px solid #ccc;
        padding: 2px 10px;
        padding-right: 0px;
        margin-bottom: 5px;
        border-radius: 10px;
        outline: 0;
        width: 98%;
        height: 25px; }

.btns{
    margin-top: 10px;
}

    .btns > button{
        float: right;
        width: 20%;
        border: 0px;
        border-radius: 30px;
        padding: 5px;
        color: white;
        outline: 0;}
        
   .btns .voltar{
        float: left;
        width: 20%;
        font-size: 12px;
        border-radius: 30px;
        margin-left: px;
        color: white;
        border: 0px;
        outline: 0; 
        background-image: linear-gradient(to right, #c11e1e, rgb(160, 40, 40) );
        cursor: pointer;}
   
    .btns .enviar{
        float: right;
        width: 20%;
        font-size: 12px;
        border-radius: 30px;
        margin-left: 10px;
        color: white;
        border: 0px;
        outline: 0; 
        background-image: linear-gradient(to right, #c11e1e, rgb(160, 40, 40) );
        cursor: pointer;}

   


.b-title{
    padding-top: 18%;
    color: white;
    vertical-align: middle;
    margin-left: 100px;}

    .b-title h1,p{
        margin: 0px;
    }
    .b-title h1{
        height: 170px;
        font-size: 10em;
    }

    .b-title p{
        font-size: 1.3em;
        letter-spacing: 10px;
        padding-left: 590px;
    }





