body{
	width: 100%;
	margin: 0;
	font-family: futura;
	line-height: 1.5;
	background-color:white; }

nav{ 
	background-color: rgba(0, 0, 0, 0.582);
	color: white; 
	width: 100%;
	position: fixed;
	display: flex;
	justify-content: space-between;
	top: 0px;
	height: 53px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521); }

	.menu{
		 }

		.menu a{
			padding-left: 5px;
			float: left;
			padding-right: 5px;
			padding-bottom: 12px;
			margin: 0px;
			padding-top: 14.5px;
			text-decoration: none;
			color: white;
			transition:0.8s; }
		
			.menu a:hover{
				background-color: rgba(0, 20, 0, 0.48);
				transition: 0.1s;
				padding-bottom: 12px; 
				border-bottom: 3px solid white;
				transform: scaleX(1.05)}

			.menu a:last-child{
				padding-right: 30px; }

			.active{
				border-bottom:3px solid white;}

	.logo{
		cursor:pointer;
		padding-left: 15px; 
		padding-right: 5px;}

		.Head{
			height: 35px;
			font-size: 30px;
			margin-top: 0px;
			margin-bottom: 0px;
			margin-top: 0px; }

		.subHead{
			font-size: 6px; 
			margin-top: 0px;
			margin-bottom: 0px;
			margin-left: 1px;
			letter-spacing: 0.1px; }

	.search{
		background-image: url(../images/bg.png);
		text-align: center;
		width: 100%;
		overflow: scroll;
		color: white;
		overflow: none;
		font-family: futura;
		padding-bottom: 65px;
		box-shadow: 1px 1px 5px rgba(0,0,0,0.1);}

		.search h1{
			letter-spacing: 3px;
			font-size: 3em;
			padding-top: 95px; }

		.searchbox input, button{
			margin: 0px;
			height: 40px;
			border: 0px;
			border-radius: 15px; }

		.searchbox input{
			padding-left: 10px;
			padding-right: 10px;
			font-family: futura;
			outline: none;
			width: 450px;
			border-bottom-right-radius: 0px;
			border-top-right-radius: 0px;
			font-size: 14px; }

		.searchbox button{
			cursor:pointer;
			font-family: futura;
			width: 100px;
			padding-right: 10px;
			margin-left: -10px;
			background-color: brown;
			color: white;
			border-bottom-left-radius: 0px;
			border-top-left-radius: 0px;
			font-size: 14px; }

	.destaques{
		color:rgb(36, 35, 35);
		width: 100%;
		padding-top: 20px;
		padding-bottom: 73px;
		text-align: center; }

		.destaques h2{
			letter-spacing: 10px;
			font-size: 2em;	}

		.dest-box{
			display: flex; 
			flex-wrap: wrap;
			width: 100%;
			justify-content: center;
			margin: 0 auto;}

			.dest-box a{
				font-family:'Helvetica Neue';
				text-decoration: none; }

			.dest-box .box > a > p{
				font-size: 18px;
				font-weight: bold;
				margin: 10;
				color:rgb(53, 52, 52); }

			.dest-box img{
				box-shadow: 0.5px 0.5px 6px rgb(194, 189, 189);
				margin: 15px;
				width: 200px;
				height: 200px;
				border-radius: 5%;
				transition: 0.5s; }

			.dest-box .box{
				margin: 0px;
				padding: 0px;
				transition: 0.5s;}

				.dest-box .box:hover{
					transform: scaleX(1.08) scaleY(1.08);
					transition: 0.5s; }
