body{
	width: 100%;
	margin: 0;
	font-family: futura;
	line-height: 1.5;
	background-color:white; }

	nav{ 
		background-color: rgba(0, 0, 0, 0.582);
		color: white; 
		z-index: 1;
		width: 100%;
		position: fixed;
		top: 0px;
		height: 53px;
		box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.521); }

		.menu{
			float: right; }
		
				.menu a{
					padding-left: 5px;
					float: left;
					padding-right: 5px;
					padding-bottom: 14.5px;
					margin: 0px;
					padding-top: 12px;
					text-decoration: none;
					color: white;
					-webkit-transition:0.8s; }
		
					.menu a:hover{
					background-color: rgba(0, 20, 0, 0.48);
					-webkit-transition: 0.1s; 
					border-bottom: 3px solid white;
					transform: scaleX(1.05)}

					.menu a:last-child{
					padding-right: 30px; }

					.active{
					border-bottom:3px solid white;}

	 #logo{
		position: fixed;
		float: left;
		padding-left: 15px; 
		padding-right: 5px;}

		#Head{
		height: 35px;
		font-size: 30px;
		margin-top: 0px;
		margin-bottom: 0px;
		margin-top: 0px; }

		#subHead{
		font-size: 6px; 
		margin-top: 0px;
		margin-bottom: 0px;
		margin-left: 1px;
		letter-spacing: 0.1px; }

.search{
	background-image: url(/Users/kafonso/Desktop/Orrie/images/bg.png);
	text-align: left;
	width: 100%;
	top: 0;
	position: -webkit-sticky;
	overflow: scroll;
	color: white;
	overflow: none;
	font-family: futura;
	padding-bottom: 20px;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.1);}

	.search h1{
		margin-left: 50px;
		letter-spacing: 3px;
		font-size: 3em;
		margin-bottom: 10px;
		margin-top: 60px; }

	.searchbox input, button{
		margin: 0px;
		height: 40px;
		border: 0px;
		border-radius: 15px; }

		.searchbox input{
			margin-left: 50px;
			padding-left: 10px;
			padding-right: 10px;
			font-family: futura;
			outline: none;
			width: 450px;
			border-bottom-right-radius: 0px;
			border-top-right-radius: 0px;
			font-size: 14px; }
	
		.searchbox button{
			font-family: futura;
			width: 80px;
			padding-right: 10px;
			margin-left: -10px;
			background-color: brown;
			color: white;
			border-bottom-left-radius: 0px;
			border-top-left-radius: 0px;
			font-size: 14px; }

	#result{
	color:rgb(36, 35, 35);
	width: 100%;
	padding-top: 0px;
	padding-bottom: 73px;
	text-align: left; }

		#result h2{
			margin-left: 50px;
			font-size: 1.5em;}
		
		#result a,p{
			text-align: left;
			color: black;
			text-decoration: none;
			margin: 0;
			margin-left: 10px;}	

		.result1 p{
			text-align: left;
			margin-left: 10px;
		}

		.icons{
			margin-left: 10px;
		}

		.result1{
			display: flex;
			align-items: center;	}
		
			.result1 img{
				border-radius: 15px;
				margin-left: 50px;
				width: 150px;
				height: 150px;
				box-shadow: 0.5px 0.5px 6px rgb(194, 189, 189); }

				#x{
					display: none;
				}
			
	hr{
		border: 0.5px solid grey;
		margin-top: 20px;
		margin-bottom: 20px;
		width:93%;}
	
		#outros1{
			padding-top: 0px;
			padding-bottom: 0px;
			border-right: 1px solid grey;
			}

			#outros1:last-child{
				border-right: none;}
			
			#outros1 img{
				border-radius: 15px;
				margin-left: 1px;
				width: 150px;
				height: 150px;
				box-shadow: 0.5px 0.5px 6px rgb(194, 189, 189); 
				-webkit-transition: 0.5s}

		#outros1 a, p{
			text-align: center;
			color: black;
			text-decoration: none;
			margin: 0;
			margin-left: 50px;}
		
		#outros1 p{
			margin-left: 0px;
		}
	
	.outros{
		display: flex;
		justify-content: center;
	}
		#outros1 img:hover{
			transform: scaleX(1.05) scaleY(1.05);
			-webkit-transition: 0.5s;
		}

footer{
	text-align: center;
	background-image: url(/Users/kafonso/Desktop/Orrie/images/bg.png);
	background-position:center;
	color: white; 
	padding: 40px 0;}

	footer ul{
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0; }

	footer li{
		display: inline-block; }

	footer .roda li a{
		padding-bottom: 0%;
		padding-right: 20px;;
		color: white;
		text-decoration: none;
		list-style-type: none;}

		footer .roda li a:hover{
			color:grey;
			-webkit-transition: 0.5s; }

	footer .copyright{
		margin-top: 10px;
		text-align: center;
		font-size: 13px;
		color: #aaa;
		margin-bottom: 0; }

	footer .copyright p{
		margin-top: 0;
		margin-bottom: 1rem; }

